---
layout: default
---
<!-- style="width:50%; margin:0 20% 2rem 0; padding:0; border:2px; border-style:groove" -->
<section>
    <img style="width:80%;min-width:300px;max-width:1080px; max-height: auto; margin:auto; padding:0 -10%; border:2px; border-style:groove"
        src="{{ page.image }}" alt="{{ page.title }}">
    <div class="article-caption">{{ page.image-caption }}</div>
</section>
<section>
    <h1 class="post-title contrast"">{{ page.title }}</h1>
<p class=" subtitle"><b>By {{ page.author }}</b><br><i>{{ page.date | date: "%B %-d, %Y" }}</i></p>
</section>
{% if page.repo %}
<button type="button" class="button"><a href="{{ page.repo }}"><span class="icon-github"></span> Peep the Repo!</a></button>
{% endif %}
<!-- <span class='marginnote'> <img class='fullwidth' src='{{ page.image }}'></span> -->


{{ content }}